<!DOCTYPE html>
<html lang="en">
<head>
	<title>Squadron</title>
	<style>
		#container { width: 800px; margin: 15px auto; }
		p,div,ul { margin: 0; padding: 0; }

		.console { padding: 20px 0; }
			.console p { display: block; width: 200px; float: left; }
			#history { display: block; width: 570px; float: right; }
	</style>
	<script type="text/javascript" src="/js/jquery-1.5.1.js"></script>
</head>
<body>
	<div id="container">
		<h1>Squadron</h1>
		<%- body %>
	</div>

</body>
</html>

